@mixin icon($filename, $width, $height) {
	background-image: url('../../#{$icon-path}#{$filename}');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: $width + px;
	height: $height + px;
	min-width: $width + px;
	min-height: $height + px;
}

@mixin icon-dimension-only($width, $height) {
	width: $width + px;
	height: $height + px;
	min-width: $width + px;
	min-height: $height + px;
}

@mixin icon-image-only($filename, $page: false) {
	background-image: url('../../#{$icon-path}#{$filename}');
}

@mixin background-image($filename, $width: 0, $height: 0, $path-back: '../../') {
	@include background-image-only($filename, $path-back);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@if $width != 0 {
		width: $width + px;
	}

	@if $height != 0 {
		height: $height + px;
	}
}

@mixin background-image-only($filename, $path-back: '../../') {
	background-image: url('#{$path-back}#{$img-path}#{$filename}');
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees + deg);
          transform: rotate($degrees + deg);
}

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: ease-in-out) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
}

@mixin opacity($value){
	$IEValue: $value*100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
}

@mixin animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
	-o-animation: $value;
	animation: $value;
}

@mixin backdrop-filter($blur) {
	backdrop-filter: blur($blur);
	-webkit-backdrop-filter: blur($blur);
}

@mixin phone() {
	@media (max-width: 767px) {
    @content;
  }
}

// Media queries

$breakpoints: (
	xxxxs: 321px,
	xxxs: 375px,
	xxs: 480px,
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1281px,
	xl: 1441px,
	xxl: 1600px
);

@mixin media-above($breakpoint) {

	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {

		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Write the media query.
		@media (min-width: $breakpoint-value) {
			@content;
		}

	// If the breakpoint doesn't exist in the map.
	} @else {

		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin media-above-distinct($width) {
	@media (min-width: $width) {
		@content;
	}
}

@mixin media-below($breakpoint) {

	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {

		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Write the media query.
		@media (max-width: ($breakpoint-value - 1)) {
			@content;
		}

	// If the breakpoint doesn't exist in the map.
	} @else {

		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin media-below-distinct($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin media-between($lower, $upper) {

	// If both the lower and upper breakpoints exist in the map.
	@if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

		// Get the lower and upper breakpoints.
		$lower-breakpoint: map-get($breakpoints, $lower);
		$upper-breakpoint: map-get($breakpoints, $upper);

		// Write the media query.
		@media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
			@content;
		}

	// If one or both of the breakpoints don't exist.
	} @else {

		// If lower breakpoint is invalid.
		@if (map-has-key($breakpoints, $lower) == false) {

			// Log a warning.
			@warn 'Your lower breakpoint was invalid: #{$lower}.';
		}

		// If upper breakpoint is invalid.
		@if (map-has-key($breakpoints, $upper) == false) {

			// Log a warning.
			@warn 'Your upper breakpoint was invalid: #{$upper}.';
		}
	}
}

@mixin media-between-distinct($width1, $width2) {
	@media (min-width: $width1) and (max-width: $width2) {
		@content;
	}
}
