@import '_functions.scss';

// Paths

$img-path: "assets/img/";
$icon-path: "#{$img-path}/icon/";

// Colors

$white: #FFFFFF;
$black: #000000;
$primary-color: #9BBE7B;

// Font family

$font-family-literata: 'Literata', sans-serif;

// Font weight

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
