/* == TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* == CUSTOM styles (sass support) */

@import 'abstracts.scss';
@import 'fonts.scss';

/* == EXTENSIONS */

html {
  scroll-behavior: smooth;
}

textarea:focus, input:focus{
  outline: none;
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance:none;
}

textarea, select, input {
  font-family: 'Arial';
}

.text-shadow-hero {
  text-shadow: 3px 3px 0px $white;
}

.inline-text-background {
  position: relative;
  display: inline;
  padding: 4px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 0.5rem 0 0 #DEF6BE, -0.5rem 0 0 #DEF6BE;

  &:before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    left: -9px;
    top: 0;
    background-color: #DEF6BE;
    z-index: 0;
    display: block;
  }
}

.checkbox-label {
  @include flexbox();
	@include align-items(center);
	cursor: pointer;

  input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
		min-width: 20px;
		min-height: 20px;
    border: 1px solid black;
    margin: 0;
    outline: none;
    border-radius: 2px;
    margin-right: 10px;
    border-radius: 6px;
    position: relative;

    &:checked {
      border-color: #000;

      &:before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 0px;
        background-color: #9BBE7B;
        position: absolute;
        left: 3px;
        top: 3px;
      }
    }
  }
}

.radio-label {
  @include flexbox();
	@include align-items(center);
	cursor: pointer;

  input[type="radio"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
		min-width: 20px;
		min-height: 20px;
    border: 1px solid black;
    margin: 0;
    outline: none;
    border-radius: 2px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;

    &:checked {
      border-color: #000;

      &:before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #9BBE7B;
        position: absolute;
        left: 3px;
        top: 3px;
      }
    }
  }
}

svg {
  &.arrow-left, &.arrow-right {
    display: inline;
  }

  &.arrow-left {
    @include rotate(180);
  }
}

button:focus {
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9BBE7B;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbfbfb;
}

.jeej-container-narrow {
  @apply container max-w-screen-md mx-auto;
}

.jeej-container {
  @apply container max-w-screen-xl mx-auto;
}

.jeej-shelf {
  	border-bottom: 30px solid #DAB888;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  	z-index: -10;

  /*Example adding pseudo element to give shelf depth*/
  &:after {
  	content: '';
  	background: #855E42;
  	height: 20px;
  	width: calc(100% + 40px); /*IE9+*/
  	position: absolute;
  	top: 30px;
  	left: 0;
  	right: 0;
  	z-index: 1;
  	margin: 0 -20px;
  }
}

.jeej-banner {
  &:hover {
    .jeej-overlay {
      @apply opacity-60;
    }
  }
}

.jeej-product-group {
  @include media-above(md) {
    &:hover {
      h4 {
        @apply -top-8 opacity-100;
      }
    }
  }

  [class*="carousel_default"] [class*="carousel_control"] {
    top: 43px!important;
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    border: 1px solid $white;
    background-color: $primary-color!important;

    svg {
      position: relative;
      top: -1px;
    }

    @include media-below(md) {
      top: 50px!important;
    }

    &[class*="carousel_prev"] {
      left: -25px!important;

      @include media-below(md) {
        left: -6px!important;
      }

      svg {
        position: relative;
        left: -1px;
      }
    }

    &[class*="carousel_next"] {
      right: -15px!important;
    }
  }
}

.jeej-jar {
  img {
      max-width: 136px;
      @apply transition-all duration-300;
  }

  h4 {
    &:before {
        content: "";
        width: 70%;
        height: 2px;
        @apply bg-green;
        position: absolute;
        top: -10px;
        left: 15%;
        opacity: 0;
        @apply transition-all duration-300;
    }
  }

  &:hover,
  &.active {
    img {
        max-width: 145px;
        margin-top: -12px;
    }

    h4 {
        @apply text-green;

        &:before {
            opacity: 1;
        }
    }
  }
}

.jeej-tab {
  position: relative;
  @apply text-grayDark;
  outline: none;

  &.active {
    @apply font-bold;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -8px;
        left: 0;
        @apply bg-green;
    }
  }
}

.jeej-tab2 {
  &.active {
    @apply bg-opacity-90 border-3;
  }
}

.jeej-feature {
  &.active {
      @apply border-3 border-solid border-green text-green bg-opacity-100;
  }
}

.jeej-mini-cart {
  min-width: 180px;

  > div:not(.absolute) {
    z-index: 1;
    position: relative;
  }

  img {
    max-width: 80px;
  }

  &:before {
    content: '';
    @apply bg-gray6 rounded-full;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 10px;
    z-index: 0;
    left: -5px;
    opacity: 0;
    @include transition(opacity, .15s);
  }

  .jeej-product-nm {
    @include transition(margin, .15s);
  }

  .jeej-quantity {
    width: 20px;
    @include transition(width, .15s);
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .jeej-product-nm {
      margin: -15px 0 0 -15px;

      @include media-below(md) {
        margin-top: -44px;
      }
    }

    .jeej-quantity {
      opacity: 1;
      width: 90px;

      @include media-below(md) {
        width: 130px;
      }
    }
  }
}

.jeej-loader-line {
	position: fixed;
	top: 0;
  left: 0;
  z-index: 31;
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: #fff;

	&:before{
	  display: block;
	  position: absolute;
	  content: "";
	  left: -200px;
	  width: 200px;
	  height: 4px;
	  background-color: green;
	  -webkit-animation: loading 2s linear infinite;
	  animation: loading 2s linear infinite;
	}
}

@keyframes loading {
  from 	{ left:-200px; width:30%; }
  50% 	{ width: 30%; }
  70% 	{ width: 70%; }
  80% 	{ left: 50%; }
  95% 	{ left: 120%; }
  to 		{ left: 100%; }
}

@-webkit-keyframes loading {
  from 	{ left:-200px; width:30%; }
  50% 	{ width: 30%; }
  70% 	{ width: 70%; }
  80% 	{ left: 50%; }
  95% 	{ left: 120%; }
  to 		{ left: 100%; }
}

.jeej-bounce {
  animation-duration: 5s;
   animation-iteration-count: infinite;
  animation-name: jeej-bounce-animation;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 80%;
    overflow: hidden;
    z-index: 1000;


    > div {
      position: absolute;
      width: 10px;
      height: 30px;
      background: #ffd300;
      top: 0;
      opacity: 0;

      &:nth-child(odd) {
        background: #7431e8;
      }

      &:nth-child(even) {
        z-index: 1;
      }

      &:nth-child(1) {
        left: 7%;
        -webkit-transform: rotate(-40deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 182ms;
        -webkit-animation-duration: 1116ms;
      }
      &:nth-child(2) {
        left: 14%;
        -webkit-transform: rotate(4deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 161ms;
        -webkit-animation-duration: 1076ms;
      }
      &:nth-child(3) {
        left: 21%;
        -webkit-transform: rotate(-51deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 481ms;
        -webkit-animation-duration: 1103ms;
      }
      &:nth-child(4) {
        left: 28%;
        -webkit-transform: rotate(61deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 334ms;
        -webkit-animation-duration: 708ms;
      }
      &:nth-child(5) {
        left: 35%;
        -webkit-transform: rotate(-52deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 302ms;
        -webkit-animation-duration: 776ms;
      }

      &:nth-child(6) {
        left: 42%;
        -webkit-transform: rotate(38deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 180ms;
        -webkit-animation-duration: 1168ms;
      }

      &:nth-child(7) {
        left: 49%;
        -webkit-transform: rotate(11deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 395ms;
        -webkit-animation-duration: 1200ms;
      }

      &:nth-child(8) {
        left: 56%;
        -webkit-transform: rotate(49deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 14ms;
        -webkit-animation-duration: 887ms;
      }

      &:nth-child(9) {
        left: 63%;
        -webkit-transform: rotate(-72deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 149ms;
        -webkit-animation-duration: 805ms;
      }

      &:nth-child(10) {
          left: 70%;
        -webkit-transform: rotate(10deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 351ms;
        -webkit-animation-duration: 1059ms;
      }

      &:nth-child(11) {
        left: 77%;
        -webkit-transform: rotate(4deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 307ms;
        -webkit-animation-duration: 1132ms;
      }

      &:nth-child(12) {
        left: 84%;
        -webkit-transform: rotate(42deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 464ms;
        -webkit-animation-duration: 776ms;
      }

      &:nth-child(13) {
        left: 91%;
        -webkit-transform: rotate(-72deg);
        -webkit-animation: makeItRain 1000ms infinite ease-out;
        -webkit-animation-delay: 429ms;
        -webkit-animation-duration: 818ms;
      }

      &:nth-child(4n) {
        width: 5px;
        height: 12px;
        -webkit-animation-duration: 2000ms;
      }

      &:nth-child(3n) {
        width: 3px;
        height: 10px;
        -webkit-animation-duration: 2500ms;
        -webkit-animation-delay: 1000ms;
      }

      &:nth-child(4n-7) {
        background: red;
      }
    }
}

// Confetti animation

@-webkit-keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {-webkit-transform: translateY(350px);}
}

// Bounce

@keyframes jeej-bounce-animation {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

// Cookie consent
.CookieConsent {
	position: fixed;
	left: 30px;
	right: auto;
	bottom: 30px!important;
	font-size: 11px;
	@include border-radius(8px);
	padding: 15px;
	background-color: #565656f2;
	color: $white;
	z-index: 100!important;
	max-width: 200px;
  font-family: 'Arial';

	@include media-below(md) {
		left: 0;
		right: 0;
		margin: auto;
		// bottom: 30px!important;
		top: auto;
		max-width: 300px;
		height: 150px;
	}

	div {
		width: 100%;

		&:first-child {
			display: block;
			margin: 0;
		}

		&:last-child {
			margin-top: 15px;
			@include flexbox();
			@include justify-content(center);

			button {
				margin: 0;
				@apply bg-green;
				border: 0;
				cursor: pointer;;
				display: block;
				color: $white;
				padding: 5px;
				width: 95%;
        @apply rounded-full;
			}
		}
	}
}
